* { margin: 0; padding: 0; }

html, body { height: auto; }

/* Intro je pin container */
.intro{
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Scene je “frame” unutar intro */
.scene{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: transform;
}

/* bg */
.scene-bg{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* window */
.window-content{
  position: absolute;
  top: 45.5%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transform-origin: 50% 50%;
  z-index: 2;
  will-change: transform;
}

/* demo content */
.page .section{
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-size: 48px;
}
