* { margin: 0; padding: 0; }

html, body { height: auto; background-color: #d0f4fc;}

/* Intro je pin container */
.intro{
  position: relative;
  height: 100vh;
  overflow: clip;
}

/* Scene je “frame” unutar intro */
.scene{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: transform;
}

/* bg */
.scene-bg{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* window */
.window-content{
  position: absolute;
  top: 45.5%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transform-origin: 50% 50%;
  z-index: 2;
  will-change: transform;
  opacity: 0;
}



/* ---------------------------------------------------------------------------------------------------------------- */





/* demo content */
.page{
  background-color: #d0f4fc;
  width: 100%;
  height: 200vh;
  position: relative;
  font-size: 48px;

  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div{
  margin: 0;
  padding: 0;
}

.planet1{
  position: absolute;
  top: 0%;
  left: 50%;
  width: 60vw;
  z-index: 98;
}

.planet2{
  position: absolute;
  top: 10%;
  left: 50%;
  width: 30vw;
  z-index: 99;
}

.planet1 img,
.planet2 img {
  height: auto;
  display: block;
  transform: translate(-50%);
}


.planinaDesno {
  position: absolute;
  inset: 0;
  left: 20%;
}
.planinaDesno img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}